.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.THIS .slds-button_icon-bare{
display: none;
}
.THIS.table-View thead th span { 
background-color: #1B5297;
color: white
}